@model IEnumerable<Product>;
    @{
    ViewData["Title"] = "Products";
    }


    <h2 class="mt-5">
        <i class="bi bi-bag-check-fill"></i>
        Products
    </h2>
    <hr />

    <a class="btn btn-primary" asp-controller="Product" asp-action="Create">
        <i class="bi bi-plus-lg"></i>
        Add Product
    </a>

    <div class="mt-4">


        @if (!Model.Any())
        {
        <div class="alert alert-danger" role="alert">
            <i class="bi bi-exclamation-triangle"></i>
            No , Products Found .

        </div>
        }
        else
        {
        <div class="row">
            @foreach (var product in Model)
            {
            <div class="col-12">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-2">
                           @if (product.ProductImages == null || product.ProductImages.Count == 0)
                            {
                            <h1>No Images For This Book</h1>
                            }
                            else
                            {
                             <img src="@ViewBag.ImagesPath/@product.ProductImages.FirstOrDefault().Path" class="img-fluid rounded-start" alt="@product.Name">
                            }
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h3 class="card-title">@product.Name</h3>
                                <p class="card-text">@product.Description</p>
                                <p class="card-text">@product.Price</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                }

            </div>
            }