<p style="text-align:center;color:black; margin-top:10px;">@localizer["Welcome to Admin Control Page"]</p>

<br />
<br />
<br />


<ul>
    <li> <a class="l" asp-action="SignUp" asp-controller="User"> <i class="bi bi-person-plus-fill"></i> @localizer["To Add a User With Role Options"] </a> </li>
     
<li> <a class="l" asp-action="Add" asp-controller="Role"><i class="bi bi-person-plus-fill"></i> @localizer["To Add Role"] </a> </li>

    <li> <a class ="l" asp-action="UsersDetails" asp-controller="User"> <i class="bi bi-pencil-square"></i> @localizer["To Update User Information"]</a> </li>
    <li> <a class="l" asp-action="UsersDetails" asp-controller="User">     <i class="bi bi-person-dash-fill"></i> @localizer["To Delete a User"]</a> </li>

    <li> <a class="l" asp-action="UsersDetails" asp-controller="User"> <i class="bi bi-info-circle-fill"></i> @localizer["To All Users Details"] </a> </li>

</ul>

