@using ITI.ElectroDev.Models
@model List<Brand>
<header>
     <h7>All Brands</h7>
 </header>
<link rel="stylesheet" href="~/css/AllBrand.css" asp-append-version="true" />
<form method="get" asp-action="Search" asp-controller="Product">
    <div class="input-group">
        <input class="form-control" type="search" name="ProductName" />
        <button class=" btn btn-outline-success my2-sm-0" type="submit">Search</button>

    </div>

</form>
<!--For Page-->
<!--For Row containing all card-->
 

<div class="card shadow border-0 mb-7">
   
    

                <title>@ViewData["Title"] - testproject</title>
                <!-- Core Style CSS -->
                <link rel="stylesheet" href="https://therichpost.com/responsivestyle/index.css">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css">

                <style>
                    .logo {
                        font-size: 3rem;
                    }
                </style>



                <table class="table">

                    <tr>
                       @* <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>*@
                    </tr>
                     @foreach (var item in Model)
                    {
                          <tr>
 
            <td>
                <strong>
                    <h5>
                @Html.DisplayFor(modelItem => item.Name)
                </h5>
                    </strong>
            </td>
         
            <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id },
            new { onclick = "return confirm('Are sure wants to delete?');" })
                  
            </td>
            <td>
                    <a class="btn d-inline-flex btn-sm btn-neutral border-base mx-1" asp-action="Edite" asp-controller="Brand" asp-route-Name="@item.Name">
                    <span class="h5 font-bold pe-2"> <i class="bi bi-pencil h5 font-bold"></i> </span>
                    <span class="h5 font-bold">Edit</span>
                </a>
                </td>
            </tr>
        }
                </table>
          
               @* <div class="d-sm-flex align-items-sm-start">
                    <a   class="btn btn-danger js-delete bi bi-trash" asp-controller="Brand" asp-action="ConfirmDelete" asp-route-id="@item.Id" asp-route-Name="@item.Name">Delete</a>
                <div class="col-lg-4">
                  
                        <a class="btn btn-primary text-uppercase" asp-action="Edite" asp-controller="Brand" asp-route-id="@item.Id">Edite</a>
                       
                      
                    </div>

                </div>*@

                

   
               
          
            <hr />
@*            @Html.ActionLink("Delete", "ConfirmDelete", new { id = item.Id })*@
                  
            <!--Card footer-->
    
 
 
 
       
 </div>


 
<div style="margin-top:100px;">
    <a class="btn btn-primary" asp-controller="Brand" asp-action="AddNewBrand">Add New Brand</a>
</div>


© 2022 ITI Sohag, 
All Brands Show 